<div class="content-calendar">
</div>
<div class="content-body">
  <div class="container">
    <div class="content-cal-nav"></div>
    <div class="body-header">
      <h1><%= category.get('name') %></h1>
      <button class="follow"></button>
    </div>
  </div>
</div>