<div class="content-calendar-nav">
  <div class="container"></div>
</div>
<div class="content-calendar">
</div>
<div class="content-body">
  <div class="container">
    <div class="body-header">
      <h1><%= category.get('name') %></h1>
      <button class="btn follow-button"></button>
    </div>
    <div class="body-feed"></div>
  </div>
</div>