<div class="header">
  <div class="header-container">
    <div class="pull-left">
      <a href="/">
        <div class="link logo-link">
          <img id="logo" src="/assets/y_logo_200.png" alt="Yale Go" />
        </div>
      </a>
      <a href="#about">
        <div class="link">
          About
        </div>
      </a>
    </div>
    <div class="pull-right">
      <a href="/login">
        <div class="link">
          Login
        </div>
      </a>
    </div>
  </div>
</div>