.container
  %h2 Welcome to Gandalf
  %p The below code is to make sure the application is picking up your netid and password correctly:
  - # Placeholder code
  %p= "pw: #{ENV['CAS_PASS']}"
  %p= "netid: #{ENV['CAS_NETID']}"

  %a{:href => "/feed"} See your feed!