<%= render partial: "header", locals: { me: @me } %>
<div id="content"></div>
<div id="popover"></div>
<!-- Set up backbone -->
<script type="text/javascript">
  // Add current user as router parameter
  window.router = new Gandalf.Router({ currentUser: <%= @me.to_json.html_safe %> });
  Backbone.history.start();
</script>