= render partial: "welcome_header"
.container
  .welcome-container
    %h4
      Welcome to 
      %span YaleGo
    %h5 
      We're currently in Alpha testing, but we'll be sure to notify you when we open up to all of Yale. Until then, keep
      %span going, 
      my friend.