<div class='gandalf-popover-head' style='background-color: #3b5998; color: white; font-weight: bold;;'>
  Sync these events?
  <span class="close">×</span>
</div>
<table class="table" id="org-fbevents-table"></table>
<button class="btn btn-primary" id="org-fbevents-go">Go!</button>