<p>
  <% if(continued) { %>
    <i class='icon-arrow-left pull-left'></i> &nbsp;
  <% } %>
  <b><%= e.get("name") %></b>&nbsp; 
  <%= startAt.format("M/D") %> - <%= endAt.format("M/D") %> 
  <% if(continues) { %>
    <i class='icon-arrow-right pull-right'></i>
  <% } %>
</p>