<p>
  <% if(continued) { %>
    <i class='icon-arrow-left pull-left'></i> &nbsp;
  <% } %>
  <%= e.get("name") %>
  <% if(continues) { %>
    <i class='icon-arrow-right pull-right'></i>
  <% } %>
</p>