<form id='organization-form' accept-charset="UTF-8" action="/organizations" enctype="multipart/form-data" method="post" data-remote='true'>
  <label>Name:</label>
  <input type='text' name='name'/>
  <label>Description:</label>
  <textarea name='bio' placeholder="What is <%= name %>..."></textarea>
  <label>Logo:</label>
  <div class="image loading"><img src="<%= image ? image.thumbnail.url : '' %>"/></div>
  <input id="organization-image" name="image" type="file"/>
  <br/>
  <input type="submit" class="btn btn-info" value='Update Organization' />
</form>