*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
*tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# Credentials
/config/credentials.yml
/config/newrelic.yml
*.p12

# lib items
lib/gappsprovisioning

*.DS_Store
*/tablesorter.js
hours.log

# Random
*.csv

# Designs
design/
