<form id='organization-form'>
  <label>Organization Name:</label>
  <input name='name' value='<%= name %>' />
  <br/>
  <label>Organization Description:</label>
  <textarea name='bio'><%= bio %></textarea>
  <br/>
  <label>Organization Logo:</label>
  <input id="image_image" name="image[image]" type="file" value="Upload an Image">
  <br/>
  <button type="submit">Update Organization</button>
</form>