<div class="organizations">
  <div class="content-left">
    <div class="left-header">Your Organizations:</div>
    <ul class="left-list"></ul>
  </div>
  <div class="organizations-main">
    <ul class="main-menu">
    </ul>
    <div class="main-content"></div>
  </div>
</div>
