<li><a data-type='info' href="#organizations/edit/<%= id %>/info">Organization Info</a></li>
<li><a data-type='events' href="#organizations/edit/<%= id %>/events">Events</a></li>
<li><a data-type='users' href='#organizations/edit/<%= id %>/users'>Users</a></li>
<li><a data-type='settings' href="#organizations/edit/<%= id %>/settings">Settings</a></li>