<div class="content-calendar"></div>
<div class="content-body">
  <div class="container">
    <div class="content-cal-nav"></div>
    <div class="body-header">
      <h1><%= organization.get('name') %></h1>
      <button class="btn follow-button"></button>
    </div>
    <% if( organization.get('categories') ) { %>
      <div class="organization-categories">
      </div>
    <% } %>
    <div class="body-feed"></div>
  </div>
</div>