<div class="org-cal-header">
  <div class="org-cal-multiday"></div>
  <div class="org-cal-header-days-week">
    <table class="org-cal-header-table">
      <tr>
        <td class="org-cal-day-week">Sunday, Dec.<div class="org-cal-day-week-num">23</div></td>
        <td class="org-cal-day-week">Monday, Dec.<div class="org-cal-day-week-num">24</div></td>
        <td class="org-cal-day-week">Tuesday, Dec.<div class="org-cal-day-week-num">25</div></td>
        <td class="org-cal-day-week">Wednesday, Dec.<div class="org-cal-day-week-num">26</div></td>
        <td class="org-cal-day-week">Thursday, Dec.<div class="org-cal-day-week-num">27</div></td>
        <td class="org-cal-day-week">Friday, Dec.<div class="org-cal-day-week-num">28</div></td>
        <td class="org-cal-day-week">Saturday, Dec.<div class="org-cal-day-week-num">29</div></td>
      </tr>
    </table>
  </div>
</div>
<div class="org-cal-body">
  <table class="cal-body-table">
    <tr class="cal-day-container">
      <td class="org-cal-day-hours">
        <% for(i=1; i<6; i++) { %>
          <div class="hour hour-label"><span class="hour-num"><%= 2*i %> a.m. </span></div>
        <% } %>
        <div class="hour hour-label"><span class="hour-num">12 p.m. </span></div>
        <% for(i=1; i<6; i++) { %>
          <div class="hour hour-label"><span class="hour-num"><%= 2*i %> p.m. </span></div>
        <% } %>
      </td>
    </tr>
  </table>
</div>