<div class="dashboard-content-nav fixed-lined-header">
  <form class="fixed-header-search">
    <input placeholder="Search groups..." id="groups-search" class="fixed-header-search-bar"></input>
  </form>
</div>
<div class="dashboard-content-main">
  <table id="dashboard-content-groups" class="table-striped"></table>
</div>