<div class="dashboard-group-header">
  <h3>New Group</h4>
</div>

<form id="new-group" class="dashboard-group-form">
  <label name="name">Group Name</label>
  <input id="name" name="name" type="text"></input>
  <label name="description">Group Description</label>
  <textarea id="description" name="description"></textarea>
  <input type="submit" value="Update Group"></input>
</form>
