<form class="dashboard-group-form">
  <label name="name">Group Name</label>
  <input name="name" type="text" value="<%= name %>"></input>
  <label name="apps_email">Google Apps Email</label>
  <input name="apps_email" type="text" value="<%= apps_email %>" disabled></input>
  <label name="description">Group Description</label>
  <textarea name="description"><%= description %></textarea>
  <input type="submit" value="Update Group"></input>
  <a id="destroy-group"><i class="icon-remove"></i> Delete Group</a>
</form>
