<h3>Subscribers</h3>
<table class="table-striped">
  <% for( i = 0; i < users.length; i++ ) { %>
    <% var user = users[i] %>
    <tr>
      <td class="primary"><%= user.name %></td>
      <td><%= user.email %></td>
      <td><% console.log(user); %></td>
    </tr>
  <% } %>
</table>