<tr>
  <td class="name"><a href="<%= url %>"><%= sub.subscribeable.name %></a></td>
  <td class="type"><%= sub.subscribeable_type %></td>
  <td class="unfollow"><button class="unfollow">Unfollow</button></td>
</tr>