#content

:javascript
  Gandalf.currentUser = new Gandalf.Models.User();
  Gandalf.currentUser.url = '/me';
  Gandalf.currentUser.fetch({
    success: function() {
      window.router = new Gandalf.Router();
      Backbone.history.start();
    }
  });
