<div class="left">
  <div class='left-search'>
    <input placeholder="Search..."></input>
  </div>
  <ul class="search-list">
    <li><a href="#browse/organizations">Organizations</a></li>
    <li><a href="#browse/categories">Categories</a></li>
    <li><a href="#browse/events">Events</a></li>
  </ul>
</div>
<div class="main" id="browse-list">
</div>
