<div class="calendar current cal-week">
  <div class="cal-day"></div>
  <div class="cal-day"></div>
  <div class="cal-day"></div>
  <div class="cal-day"></div>
  <div class="cal-day"></div>
  <div class="cal-day"></div>
  <div class="cal-day"></div>
</div>
