<div class="container">
  <div class="sidebar">
    <div id="subscriptions_list"></div>
  </div>
  <div class="feed">
    <div id="events_list"></div>
  </div>
  <div class="calendar">
    Calendar
  </div>
</div>