<div class="sidebar">
  <div class="sidebar-label">Subscribed Organizations:</div>
  <div id="subscribed-organizations-list"></div>
  <div class="sidebar-label">Subscribed Categories:</div>
  <div id="subscribed-categories-list"></div>
</div>
<div class="feed" id="feed-list">
</div>
<div class="calendar" id="calendar-container">
</div>