<div class="container">
  <div class="left">
    <div id="subscriptions_list"></div>
  </div>
  <div class="feed">
    <div id="events_list"></div>
  </div>
  <div class="middle">
    Calendar
  </div>
</div>