<div class="sidebar">
  <div class="sidebar_label">Subscribed Organizations:</div>
  <div id="subscribed_organizations_list"></div>
  <div class="sidebar_label">Subscribed Categories:</div>
  <div id="subscribed_categories_list"></div>
</div>
<div class="feed">
  <div id="events_list"></div>
</div>
<div class="calendar">
  Calendar
</div>