<div class="container">
  <div class="sidebar">
    <div id="events_list"></div>
  </div>
  <div class="main">
    <h5>This is your feed. All events that are part of organizations or categories you subscribe to will go here.</h5>
  </div>
</div>