<div class="feed_event">
  <div class="organization"><%= event.organization %></div>
  <div class="time"><%= time %></div>
  <div class="details">
    <div class="name"><%= event.name %></div>
    <div class="location"><%= event.location %></div>
  </div>
</div>