<div class='gandalf-popover-head' style='background-color: <%= color %>;'>
  Email to Subscribers
  <span class="close">×</span>
</div>
<div class="gandalf-popover-body">
  <input class="email-subject" type="text" placeholder="Subject"/>
  <textarea class="email-compose"></textarea>
  <button id="send-email" class="btn btn-mini btn-primary">Send to <%= emailCount %> Subscribers</button>
</div>