<div class="content-header container">
  <h1>Your Organization Dashboard</h1>
</div>
<div class="content-container container">
  <div class="content-left">
    <div class="left-header">Your Organizations:</div>
    <ul class="left-list"></ul>
  </div>
  <div class="content-main">
    <ul class="dash-menu">
    </ul>
    <div class="dash-content"></div>
  </div>
</div>
