<div class="content-container dashboard-content container">
  <div class="content-left">
    <div id="dashboard-organizations-list"></div>
    <ul id="dashboard-menu" class="left-list"></ul>
  </div>
  <div class="content-main">
    <div class="dash-content"></div>
  </div>
</div>
