<div class="content-header">
  <h1>Organization Dashboard</h1>
</div>
<div class="content-container">
  <div class="content-left">
    <div class="left-header">Your Organizations:</div>
    <ul class="left-list"></ul>
  </div>
  <div class="content-main">
    <ul class="main-menu">
    </ul>
    <div class="main-content"></div>
  </div>
</div>
