<li><a data-type='info' href="#dashboard/<%= id %>/info">Organization Info</a></li>
<li><a data-type='events' href="#dashboard/<%= id %>/events">Events</a></li>
<li><a data-type='users' href='#dashboard/<%= id %>/users'>Users</a></li>
<li><a data-type='settings' href="#dashboard/<%= id %>/settings">Settings</a></li>