<a href="#dashboard/<%= id %>/events"><li data-type='events'>Events</li></a>
<a href='#dashboard/<%= id %>/users'><li data-type='users'>Users</li></a>
<a href="#dashboard/<%= id %>/settings"><li data-type='settings'>Settings</li></a>