<div id="organization-users">
  <h4 class='pull-left' style='margin: 0 0 30px;'>Subscribers</h4>
  <a id="email-subscribers-btn" class="btn btn-mini btn-primary pull-right" href='#' target='_blank'>
    Email selected subscribers
  </a>
  <table class='users-table'>
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>College</td>
        <td>Year</td>
        <td>
          <a href="#" class='deselect-all'>Deselect all</a>
        </td>
      </tr>
    </thead>
    <tbody class='users-table-body'></tbody>
  </table>
</div>