<div id="organization-users">
  <h4 class='pull-left' style='margin: 0 0 20px;'>Subscribers</h4>
  <a id="email-subscribers-btn" class="btn btn-mini btn-primary pull-right" href='#' target='_blank'>
    Email selected subscribers
  </a>
  <br>
  <br>
  <b class='dash-list-count pull-left'></b>
  <table class='dash-list tablesorter'>
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>College</td>
        <td>Year</td>
        <td>
          <a href="#" class='deselect-all'>Deselect all</a>
        </td>
      </tr>
    </thead>
    <tbody class='dash-list-body'></tbody>
  </table>
</div>