<div id="organization-users">
  <h4 class='pull-left' style='margin: 0 0 20px;'><%= typeName %></h4>
  <button id="email-subscribers-btn" class="btn btn-mini btn-primary pull-right" target='_blank'>
    Email selected subscribers
  </button>
  <br>
  <br>
  <table class='dash-list'>
    <thead>
      <tr class='header-row'>
        <th>Name</th>
        <th>Email</th>
        <th>College</th>
        <th>Year</th>
        <th>
          <a href="#" class='deselect-all'>Deselect all</a>
        </th>
      </tr>
    </thead>
    <tbody class='dash-list-body'></tbody>
  </table>
</div>