<tr class='organization-user'>
  <td>
    <div class="image loading"></div>
  </td>
  <td>
    <div class="name"><%= user.name %></div>
    <div class="email"><%= user.email %></div>
  </td>
  <td>
    <div class='btn'>Edit</div>
  </td>
</tr>