<div id="organization-events">
  <div id="event-form">
    <button id="close-event">Close</button>
    <form id="new-event">
      <input name="name" placeholder="Event Name"/>
      <input name="start_at" placeholder="Start At"/>
      <input name="end_at" placeholder="End At"/>
      <input name="location" placeholder="Location"/>
      <textarea name="description" placeholder="Description"></textarea>
      <button type="submit">Save Event</button>
    </form>
  </div>
  <button id="new-event">New Event</button>
  <table id='organization-events-list'></table>
</div>