<div class="content-calendar">
</div>
<div class="content-container">
  <div class="organization-header">
    <h1><%= organization.get('name') %></h1>
    <button class="follow">Follow</button>
  </div>
  <% if( organization.get('categories') ) { %>
    <div class="organization-categories">
    </div>
  <% } %>
    
</div>