<div class="browse-container">
  
  <div class="browse-container-header">
    <h2 class="inline-header">Events Coming Up</h2>
    <a class="pull-right" href="#browse/events">See More Events</a>
  </div>
  
  <div id="browse-events"></div>
</div>

<div class="browse-container">
  
  <div class="browse-container-header">
    <h2 class="inline-header">Popular Organizations</h2>
    <a class="pull-right" href="#browse/organizations">See More Organizations</a>
  </div>
  
  <div id="browse-organizations"></div>
</div>

<div class="browse-container">
  
  <div class="browse-container-header">
    <h2 class="inline-header">Popular Categories</h2>
    <a class="pull-right" href="#browse/categories">See More Categories</a>
  </div>
  
  <div id="browse-categories"></div>
</div>