<div class="cover"></div>
<div class="content">
  <div class="name"><a href="#categories/<%= result.get('slug') %>"><%= result.get('name') %></a></div>
  <div class="description"><%= result.get('description') %></div>
</div>