<div class="cover"></div>
<div class="content">
  <div class="type">Category:</div>
  <div class="name"><%= result.get('name') %></div>
  <div class="description"><%= result.get('description') %></div>
</div>