<div class="content-header">
  <h1>Discover</h1>
</div>
<div class="content-container">
  <div class="content-left">
    <div class="left-header">Search Events, Organizations or Categories:</div>
    <div class='left-search'>
      <input placeholder="Search <%= type %>..."></input>
    </div>
    <ul class="left-list">
      <li><a data-type='organizations' href="#browse/organizations">Organizations</a></li>
      <li><a data-type='categories' href="#browse/categories">Categories</a></li>
      <li><a data-type='events' href="#browse/events">Events</a></li>
    </ul>
  </div>
  <div class="content-main" id="browse-list">
  </div>
</div>
