<div class="fixed-browse-header content-header container">
  <form id="search-form">
    <input placeholder="Search..." id="browse-search"></input>
  </form>
  <div class="pull-right browse-nav-links">
    <a href="#browse" data-type="all">All</a>
    <a href="#browse/organizations" data-type='organizations'>Organizations</a>
    <a href="#browse/categories" data-type='categories'>Categories</a>
    <a href="#browse/events" data-type='events'>Events</a>
  </div>
</div>
<div class="content-container browse-content container">
  <div id="browse-list"></div>
</div>
