<div class="content-header container">
  <h1>Discover</h1>
</div>
<div class="content-container container">
  <div class="content-left">
    <div class="left-header">Search Events, Organizations or Categories:</div>
    <div class='left-search'>
      <input placeholder="Search <%= type %>..."></input>
    </div>
    <ul class="left-list">
      <a href="#browse/organizations"><li data-type='organizations'>Organizations</li></a>
      <a href="#browse/categories"><li data-type='categories'>Categories</li></a>
      <a href="#browse/events"><li data-type='events'>Events</li></a>
    </ul>
  </div>
  <div class="content-main" id="browse-list">
  </div>
</div>
