// Browse variables
$image-width: 100px;

// Style
.left-search input {
  width: 90%;
  padding: 5%;
  border: none;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

#browse-list {
  padding-left: 10px;
}

.browse-result {
  display: inline-block;
  width: 360px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  vertical-align: top;
  &:nth-child(odd) {
    margin-right: 16px;
  }
  &.organization {
    width: 234px;
    margin-right: 16px;
    &:nth-child(3n+3) {
      margin-right: 0px;
    }
  }
  .cover {
    width: 100%;
    height: 70px;
    background: $blue;
  }
  .content {
    background: white;
    padding: 15px;
    position: relative;
    border-top: 1px solid #DADADA;
    min-height: 100px;
  }
  .content-image {
    float: left;
    img {
      height: 100px;
      width: 100px;
      background: #dadada;
    }
  }
  .content-inline {
    @include calc(margin-left, "#{$image-width} + 10px");
  }
  .count {
    padding-bottom: 5px;
    border-bottom: 1px solid #dadada;
    font-style: italic;
    color: $blue;
    &.black {
      color: #333;
    }
  }
  .cover.organization {
    background: #eee;
  }
  .organization {
    .organization-image {
      width: 40px;
      height: 40px;
      margin: 15px;
      background: $blue;
      float: left;
    }
    .organization-link {
      font-size: 18px;
      color: black;
      font-size: 20px;
      display: block;
      float: left;
      line-height: 70px;
      float: left;
      @include HN-Light;
    }
  }
  .name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 8px;
    margin-bottom: 5px;
    a {
      color: #333;
    }
  }
  .location {
    font-weight: bold;
  }
  .updated-at {
    font-style: italic;
  }
}