// Browse variables
$image-width: 100px;
$header-height: 50px;
$nav-height: 80px;
$content-width: 960px;
$header-overlap: 10px;
$background-color: white;
$browse-image-unit: 100px;

// Style
.fixed-browse-header {
  position: fixed;
  top: $header-height;
  left: 50%;
  height: $nav-height;
  @include calc(margin-left, "-#{$content-width}/2");
  border-bottom: 1px solid #dadada;
  @include box-shadow(0 2px 2px -2px rgba(black, 0.2));
  z-index: 1;
  background: $background-color;
}

.browse-content {
  margin-top: $nav-height;
  padding-top: 20px;
}

#search-form {
  float: left;
}

#browse-search {
  margin: 20px 0;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 10px;
  @include calc(width, "#{$content-width}/2");
  @include HN-Light;
  border: 1px solid #dadada;
  color: $blue;
  @include transition(0.2s);
  border-radius: 3px;
  
  &:hover {
    border: 1px solid #ddd;
  }
  
  &:focus {
    border: 1px solid #aaa;
  }
}

.browse-nav-links {
  margin: 20px 0;
  height: 42px;
  border: 1px solid #dadada;
  border-radius: 3px;
  line-height: 40px;
  
  a {
    display: block;
    float: left;
    font-size: 15px;
    line-height: 40px;
    padding: 0 10px;
    border-left: 1px solid #dadada;
    @include transition(0.2s);
    color: #333;
    
    &:first-child {
      border-left: none;
    }
    
    &.active,
    &:hover {
      background: #fafafa;
      color: $blue;
      text-decoration: none;
    }
  }
}

.browse-result {
  display: inline-block;
  width: 230px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  vertical-align: top;
  margin-right: 13px;
  
  &:nth-child(4) {
    margin-right: 0;
  }
  
  &.organization {
    width: 234px;
    margin-right: 16px;
    &:nth-child(3n+3) {
      margin-right: 0px;
    }
  }
  
  .cover {
    width: 100%;
    height: 55px;
    background: $blue;
  }
  
  .content {
    background: white;
    padding: 15px;
    position: relative;
    border-top: 1px solid #DADADA;
    @include calc(min-height, "#{$browse-image-unit} + 30px");
  }
  
  .content-image {
    float: left;
    img {
      height: 100px;
      width: 100px;
      background: #dadada;
    }
  }
  .content-inline {
    @include calc(margin-left, "#{$image-width} + 10px");
  }
  .count {
    padding-bottom: 5px;
    border-bottom: 1px solid #dadada;
    font-style: italic;
    color: $blue;
    &.black {
      color: #333;
    }
  }
  .cover.organization {
    background: #eee;
  }
  .organization {
    .organization-image {
      width: 25px;
      height: 25px;
      margin: 15px;
      background: $blue;
      float: left;
    }
    .organization-link {
      font-size: 18px;
      color: black;
      font-size: 20px;
      display: block;
      float: left;
      line-height: 56px;
      float: left;
      @include HN-Light;
    }
  }
  .name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 8px;
    margin-bottom: 5px;
    a {
      color: #333;
    }
  }
  .location {
    font-weight: bold;
  }
  .updated-at {
    font-style: italic;
  }
}

.browse-container {
  margin-bottom: 20px;
}

.browse-container-header {
  border-bottom: 1px solid #dadada;
  width: 100%;
  
  .inline-header {
    display: inline-block;
  }
  
  h2 {
    @include HN-Light;
  }
  
  a {
    line-height: 70px;
    font-size: 14px;
  }
}

#browse-events,
#browse-organizations,
#browse-categories {
  padding-top: 15px;
}