/* ========= CALENDAR ======== */

.calendar {
  $width: $sidebar_width + $feed_width;
  left: $width;
  width: -moz-calc(100% - 500px);
  width: -webkit-calc(100% - 500px);
  width: -o-calc(100% - 500px);
  width: calc(100% - 500px);
  //overflow-y: hidden;
}

$week_hour_height: 44px;
$cal_gap: 40px;
$cal_head_height: 80px;
.cal {
  position:relative;
  top: $cal_head_height;
  width: 100%;
  height: 100%;
}

.cal-header, .cal-body {
  width: 100%;
  table-layout: fixed;
  td:first-child {
    width: $cal_gap;
  }
}

.cal-header {
  position: fixed;
  height: $cal_head_height;
  z-index: 20;
  width: -moz-calc(100% - 500px);
  width: -webkit-calc(100% - 500px);
  width: -o-calc(100% - 500px);
  width: calc(100% - 500px);
  background-color: white;
  .btn-toolbar {
    padding: 0 10px;
  }
}
.cal-header-days {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 20px;
  width: 100%;
  font-size: 8px;
  line-height: 20px;
  @include linear-gradient(#fff, #efefef);
}

.cal-body {
  .cal-day {
    border-right: 1pt solid #ddd;
  }
}

.hour {
  height: $week_hour_height;
}
.hour-label {
  border-top: 1pt solid transparent;
}
.hour-day {
  border-bottom: 1pt solid #eee;
}

.hour-num {
  position: relative;
  font-size: 8px;
  line-height: 8px;
  color: #333;
  top: -6px;
  left: 7px;
}
.cal-week {
  .cal-day {
    
  }
}

.cal-month {
  .cal-day {
    height: 100px;
    border-bottom: 1pt solid #aaa;
  }
}

.cal-events {
  position: relative;
  top: 0;
  left: 0;
}
$cal_z: 10;
.cal-month .cal-event {
  overflow: hidden;
}
.cal-week .cal-event {
  position: absolute;
  left: 0;
  z-index: $cal_z;
  border: 1pt solid transparent;
  background-color: rgba(200,200,200,0.7);
  @include transition(all 0.2s, opacity 0.5s);
  cursor: pointer;
  font-size: 8px;
  line-height: 12px;
  overflow: hidden;
  width: 97%;
  p {
    margin: 0 3px;
    &:first-child {
      margin-top: 3px;
    }
  }
  &:hover {
    border: 1pt solid #444;
    @include box-shadow(0 0 3px rgba(0,0,0,0.8));
    background-color: rgba(170,170,170,0.9);
  }
}

.event-hidden-org, .event-hidden-cat {
  opacity: 0;
}

/* ======== POPOVER ========= */

$event-popover-padding: 10px;

.event-popover-head {
  font-size: 18px;
  line-height: 24px;
  background-color: $popover-head-color;
  padding: $event-popover-padding;
}
.event-popover-body {
  padding: $event-popover-padding;
}

.popover .close {
  line-height: 15px;
}


