/* ========= CALENDAR ======== */

.calendar {
  $width: $sidebar_width + $feed_width;
  left: $width;
  width: -moz-calc(100% - 440px);
  width: -webkit-calc(100% - 440px);
  width: -o-calc(100% - 440px);
  width: calc(100% - 440px);
  overflow-y: hidden;
}

$week_hour_height: 44px;
$cal_gap: 40px;
$cal_head_height: 70px;
$cal_top_pad: 10px;
.cal {
  // position:relative;
  // top: $cal_head_height;
  width: 100%;
  height: 100%;
}

.cal table {
  width: 100%;
  table-layout: fixed;
}

/* ==== CALENDAR HEADER ==== */

.cal-header {
  position: fixed;
  padding-top: $cal_top_pad;
  height: $cal_head_height;
  z-index: 20;
  //width: 100%;
  width: -moz-calc(100% - 440px);
  width: -webkit-calc(100% - 440px);
  width: -o-calc(100% - 440px);
  width: calc(100% - 440px);
  min-width: $min-width - 440px;
  background-color: white;
  @include box-shadow(0 5px 5px -5px #444);
  .btn-toolbar {
    padding: 0 10px;
  }
}

.cal-header-days {
  text-align: center;
  height: 20px;
  width: 100%;
  font-size: 8px;
  line-height: 20px;
  @include linear-gradient(#fff, #efefef);
}

.cal-multiday {
  border: 1pt solid red;
}

/* ===== CALENDAR BODY ===== */

.cal-body {
  position: absolute;
  top: $cal_head_height + $cal_top_pad;
  width: 100%;
  height: -moz-calc(100% - 70px);
  height: -webkit-calc(100% - 70px);
  height: -o-calc(100% - 70px);
  height: calc(100% - 70px);
  overflow-y: scroll;
}
.cal-week td:first-child {
  width: $cal_gap;
}

.cal-day {
  border-right: 1pt solid #ddd;
}

.cal-month .cal-body .cal-day {
  height: 150px;
  border-bottom: 1pt solid #aaa;
  position: relative;
}

.hour {
  position: relative;
  height: $week_hour_height;
}
.hour-label {
  border-top: 1pt solid transparent;
}
.hour-day {
  border-bottom: 1pt solid #eee;
}
.hour-half {
  position: absolute;
  top: 50%;
  height: 0;
  width: 100%;
  border-bottom: 1pt dashed #eee;
}

.hour-num {
  position: relative;
  font-size: 8px;
  line-height: 8px;
  color: #333;
  top: -6px;
  left: 7px;
}

.month-day-date {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 10px;
  color: #555;
  z-index: -1;
}

/* ===== CALENDAR EVENTS ===== */

.cal-events {
  position: relative;
}
.cal-month .cal-events {
  position: absolute;
  top: 15px;
  left: 0px;
  overflow-x: hidden;
}
$cal_z: 10;
.cal-month-event {
  overflow: hidden;
  font-size: 10px;
  line-height: 15px;
  cursor: pointer;
  p {
    margin: 0;
    padding: 0 5px;
    height: 12px;
  }
}
$test-color: lighten(#0f91ec, 20%);
.cal-week-event {
  position: absolute;
  left: 0;
  z-index: $cal_z;
  border: 1pt solid transparent;
  background-color: rgba($test-color,0.7);
  @include transition(all 0.2s, opacity 0.5s);
  cursor: pointer;
  font-size: 8px;
  line-height: 12px;
  overflow: hidden;
  p {
    margin: 0 3px;
    &:first-child {
      margin-top: 3px;
    }
  }
  &:hover {
    border: 1pt solid #222;
    //@include box-shadow(0 0 3px rgba(0,0,0,0.8));
    background-color: rgba($test-color,1);
  }
}

.cal-event {
  &.event-hidden-org, &.event-hidden-cat {
    opacity: 0;
  }
}

/* ======== POPOVER ========= */

$cal-popover-padding: 10px;

$cal-popover-head-color: lightblue;
$cal-popover-body-color: #eee;
.cal-popover {
  top: $cal_head_height + 30;
  width: 300px;
  z-index: 30;
  position: absolute;
  display: none;
  background-color: rgba(#eee, 0.9);
  @include box-shadow(0 0px 5px 0 #444);

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 15px;
    opacity: 0.4;
  }
}

.cal-popover-inner {
  height: 100%;
  background-color: $cal-popover-body-color;
}

.cal-popover-head {
  font-size: 16px;
  line-height: 20px;
  background-color: $cal-popover-head-color;
  padding: $cal-popover-padding;
  padding-right: $cal-popover-padding + 15;
}
.cal-popover-body {
  padding: $cal-popover-padding;
  tr {
    padding: 3px 0;
  }
  td:first-child {
    width: 25%;
    font-weight: bold;
    padding-bottom: 3px;
  }
}
.cal-popover-description {
  font-size: 10px;
  line-height: 16px;
}

#map-canvas {
  margin-top: 10px;
  height: 170px;
  width: 100%;
}
#map-canvas label { width: auto; display:inline; }
#map-canvas img { max-width: none; max-height: none; }


