// Variables
$content-nav-height: 85px;

// Style
.dashboard-content {
  margin-top: 20px;
}

.dashboard-padded-top,
.dashboard-content-nav,
.fixed-header-links {
  padding-top: 20px;
}

#dashboard-organizations-list {
  border: 2px solid $blue;
}

#dashboard-organizations-list,
#dashboard-organizations-selected {
  border-radius: 5px;
}

#dashboard-organizations-selected {
  border: none;
  width: 100%;
  text-align: left;
  background: white;
  @include HN-Bold;
  @include transition(0.2s);
  
  #button-arrow {
    float: right;
  }
  
  &.open {
    background: #fafafa;
    color: $blue;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

#dashboard-organizations-selected,
#dashboard-organizations-nav li {
  padding: 10px;
  cursor: pointer;
  color: black;
  
  &:hover {
    background: #fafafa;
    color: $blue;
    text-decoration: none;
  }
}

#dashboard-organizations-nav {
  display: none;
  border-top: 1px solid $blue;
  
  li {
    border-bottom: 1px solid #ccc;
    
    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

#dashboard-menu {
  margin-top: 20px;
}

.dashboard-content-nav {
  top: $header-height;
  height: $content-nav-height;
  width: $width - 230px;
  background: white;
  
  h5 {
    margin: 0;
    display: inline-block;
    color: $blue;
  }
  
  #groups-search {
    line-height: 26px;
  }
}

.dashboard-header-link {
  display: inline-block;
  padding: 0 15px;
  line-height: 44px;
  font-size: 13px;
  border: 2px solid $blue;
  background: $light-blue;
  border-radius: 5px;
  color: white;
  @include transition(0.1s);
  
  .icon-plus {
    color: white;
  }
  
  &:hover {
    color: white;
    text-decoration: none;
    background: $blue;
    border: 2px solid $dark-blue;
  }
}

.dashboard-content-main {
  margin-top: $content-nav-height;
  
  table {
    width: 100%;
  }
  
  td {
    padding: 10px;
    font-size: 12px;
    
    &.primary {
      @include HN-Bold;
      font-size: 15px;
    }
  }
  
  .dashboard-table-link {
    background: #eee;
    color: #777;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid #ccc;
    @include transition(0.1s);
    float: right;
    
    &:hover {
      background: #eaeaea;
      border: 2px solid #aaa;
      text-decoration: none;
    }
    
    &:after {
      content: " →";
    }
  }
}

.dashboard-group-form {
  background: #fafafa;
  padding: 30px;
  
  label {
    color: #777;
  }
  
  input, 
  textarea {
    display: block;
    width: 60%;
    padding: 10px;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  input {
    color: $blue;
    line-height: 30px;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background: #81C1FF;
    border: 2px solid $blue;
    color: white;
    border-radius: 5px;
    @include HN-Light;
    @include transition(0.2s);
    
    &:hover {
      background: $blue;
    }
  }
}

ul.dash-menu {
  width: $main-width;
  height: 57px;
  border-bottom: 1px solid #dadada;
  border-left: 1px solid #dadada;
  li {
    border: 0px;
    float: left;
    padding: 18px 20px;
    background: #fafafa;
    border-right: 1px solid #dadada;
    border-top: 1px solid #dadada;
    color: #333;
    font-weight: bold;
    @include transition(background 0.2s, border 0.2s);
    &:hover {
      background: #F1F1F1;
    }
    &.selected {
      background: white;
      border-bottom: 1px solid white;
      &:hover {
        background: white;
      }
    }
  }
}

.dash-org-container {
  padding: 30px;
  border: 1pt solid #dadada;
  border-top: none;
}

.dash-content {
  background: white;
}

/* Events panel */

.dash-list {
  width: 100%;
}

.header-row {
  border-bottom: 1px solid black;
  th {
    text-align: left;
  }
}

tr.dash-row {
  td {
    vertical-align: top;
  }
  &.event {
    border-bottom: 1px solid #dadada;
    td {
      padding: 10px 10px 10px 0;
    }
    .image {
      width: 50px;
      height: 60px;
      border: 1px solid #dadada;
    }
    .description {
      width: 300px;
    }
    &:last-child {
      border: none;
    }
  }
  &.user {
    td {
      padding: 5px 0;
    }
    td:first-child {
      width: 25%;
    }
  }
  &.striped {
    &:nth-child(even) {
      background: #eee;
    }
  }
}

/* Settings panel */

#dash-settings-form {
  padding: 15px;
  img {
    height: 100%;
    width: 100%;
  }
  input[type='file'] {
    margin-top: 10px;
    line-height: normal;
  }
  textarea {
    height: 100px;
  }
  .image {
    width: 100px;
    height: 100px;
    border: 1pt solid #dadada;
  }
}

// Show

.body-header {
  border-bottom: 1px solid #dadada;
  position: relative;
  button {
    position: absolute;
    top: 5px;
    right: 0px;
  }
}

button.follow-button {
  width: 107px;
  font-size: 90%;
  &:after {
    content: "Not following";
  }
  &:hover:after {
    content: "Follow!";
  }
  &.following {
    /*
    @include linear-gradient($blue, #4B80FC);
    color: white;
    border: 1px solid blue;
    */
    &:after {
      content: "Following";
    }
    &:hover:after {
      content: "Unfollow...";
    }
  }
  &.following:hover:after {
    /*
    background: #e60000;
    color: white;
    border: 1px solid #cc0000;
    */
  }
}