// Mixins
// http://bourbon.io/#font-face
// Doesn't work for some reason, through transition works...
/*
@include font-face(HN, '/helveticaneue', normal, $asset-pipeline: true);
@include font-face(HNBold, '/helveticaneuebold', normal, $asset-pipeline: true);
@include font-face(HNLight, '/helveticaneuebold', normal, $asset-pipeline: true);
@include font-face(HNMedium, '/helveticaneuebold', normal, $asset-pipeline: true);
*/
@font-face { font-family: HN; src: url('/assets/helveticaneue.otf'); } 
@font-face { font-family: HNBold; src: url('/assets/helveticaneuebold.otf'); }
@font-face { font-family: HNLight; src: url('/assets/helveticaneuelight.otf'); }
@font-face { font-family: HNMedium; src: url('/assets/helveticaneuemedium.otf'); } 
$yellow: rgba(255,203,5,1);
$blue: rgba(31,188,255,1);

body {
  margin: 0px;
  padding: 0px;
  font-family: HN;
}
.wrapper {
  width: 100%;
  min-width: 700px;
}
.header {
  width: 100%;
  min-width: 700px;
  height: 50px;
  background: $blue;
  position: fixed;
  top: 0px;
  left: 0px;
}
.container {
  width: 100%;
  margin: auto;
  .link {
    float: left;
    line-height: 50px;
    margin-left: 15px;
  }
}

#logo {
  float: left;
  padding-left: 15px;
  a {
    color: white;
    font-family: HNLight;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    // Use bourbon here!
    @include transition(all 0.2s);
  }
  &:hover {
    border-bottom: 3px solid white;
  }
}

#menu {
  float: right;
  line-height: 50px;
  padding-right: 15px;
}

.left {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 300px;
  border-right: 1px solid #eee;
  overflow: scroll;
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: calc(100% - 50px);
}


.day_header {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background: #EEE;
  padding: 7px 10px;
  font-size: 14px;
}
#day_events {
  padding: 2px 0px;
  .event {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    .organization {
      padding-left: 80px;
      font-size: 13px;
      font-family: HNLight;
      width: 200px;
    }
    .time {
      width: 80px;
      float: left;
      font-size: 15px;
      line-height: 23px;
      color: #333;
    }
    .details {
      width: 200px;
      margin-left: 80px;
      .name {
        font-size: 15px;
        color: #333;
        line-height: 23px;
        font-family: HNBold;
      }
      .location {
        font-family: HNLight;
        font-size: 13px;
      }
    }
  }
}

.middle {
  margin-top: 50px;
  margin-left: 301px;
}

.right {
  position: fixed;
  top: 50px;
  right: 0px;
  width: 300px;
}