/* ====== FEED ==== */

.feed-day-header {
  border: 1px solid #dadada;
  background: #EEE;
  padding: 7px 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

//Notice for when there are no events
.feed-notice {
  text-align: center;
  @include HN-Bold;
  font-size: 30px; 
  line-height: 1.3;
  margin-top: 50px;
  color: #bbb; 
}

.feed-event {
  background: white;
  position: relative;
  @include box-shadow(0 0 3px rgba(black, 0.3));
  vertical-align: top;
  min-height: 100px;
  font-size: 0;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  @include transition(0.2s);
  /*
  &:nth-child(odd) {
    margin-right: 20px;
  }
  */
  &:last-child {
    margin-bottom: 30px;
  }
  $event-image-width: 100px;
  .event-image {
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 1px solid #DADADA;
    height: 100%;
    background: #EEE;
    width: $event-image-width;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .details {
    width: 349px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: $event-image-width + 1;
    margin-bottom: 10px;
    vertical-align: middle;
    height: 100%;
    display: inline-block;
  }
  .name {
    font-size: 18px;
    color: #333;
    line-height: 100%;
    padding-bottom: 8px;
    @include HN-Bold;
    border-bottom: 1px solid #dadada;
  }
  .organization {
    @include HN-Regular;
    font-size: 15px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 5px;
  }
  .time, .location {
    @include HN-Regular;
    font-size: 13px;
    color: #333;
    line-height: 20px;
    span {
      margin-right: 5px;
      opacity: 0.5;
    }
  }
  &:hover {
    @include box-shadow(0 1px 5px rgba(black, 0.3));
  }
  @include transition(background-color 0.2s);
  &.event-hidden-org, &.event-hidden-cat {
    display: none;
  }
}

