/* ====== FEED ==== */
.feed {
  left: $sidebar_width;
  width: $feed_width;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.feed-day-header {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background: #EEE;
  padding: 7px 10px;
  font-size: 14px;
}
$feed_height: 90px;
.feed-event {
  padding: 8px 5px;
  border-bottom: 1px solid #eee;
  min-height: $feed_height;
  font-size: 0;
  cursor: pointer;
  &:last-child {
    //border-bottom: none;
  }
  .time {
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 66px;
    color: #333;
  }
  .details {
    width: 68%;
    margin-left: 3%;
    vertical-align: middle;
    height: 100%;
    display: inline-block;
  }
  .name {
    font-size: 15px;
    color: #333;
    line-height: 23px;
    font-weight: bold;
  }
  .location, .organization {
    font-size: 13px;
    font-weight: 200;
  }
  &:hover {
    background-color: white;
  }
  @include transition(background-color 0.2s);
  &.event-hidden-org, &.event-hidden-cat {
    display: none;
  }
}

/* SIDEBAR */

.sidebar {
  left: 0;
  width: $sidebar_width;
  overflow-y: hidden;
  background-color: rgba($blue, 0.8);
}
.sidebar-header {
  font-size: 120%;
  line-height: 120%;
  font-weight: bold;
  padding: 10px;
}

.sidebar-list {
  border-bottom: 1pt solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  &:last-child {
    border-bottom: none;
  }
}

.sidebar-label {
  padding-left: 15px; 
  padding-bottom: 5px;
}

.sidebar-item {
  padding: 3px 35px 3px 25px;
  cursor: pointer;
  @include transition(all 0.2s);
  &:hover {
    background-color: #eee;
  }
  &.hidden {
    opacity: 0.5;
  }
  input[type='checkbox'] {
    margin-top: 3px; 
    float: right;
    vertical-align: bottom;
  }
}

