
/* ====== FEED ==== */

.feed-day-header {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background: #EEE;
  padding: 7px 10px;
  font-size: 14px;
}

.feed-event {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: none;
  }
  font-size: 0;
  .time {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
  }
  .details {
    width: 65%;
    margin-left: 5%;
    vertical-align: middle;
    height: 100%;
    display: inline-block;
  }
  .name {
    font-size: 15px;
    color: #333;
    line-height: 23px;
    font-family: HNBold;
  }
  .location, .organization {
    font-size: 13px;
    font-family: HNLight;
  }
}

