@font-face { font-family: HN; src: url('/assets/helveticaneue.otf'); } 
@font-face { font-family: HNBold; src: url('/assets/helveticaneuebold.otf'); }
@font-face { font-family: HNLight; src: url('/assets/helveticaneuelight.otf'); }
@font-face { font-family: HNMedium; src: url('/assets/helveticaneuemedium.otf'); } 
$yellow: rgba(255,203,5,1);
$blue: #4BA6FF;
$font: 12px;
$min_width: 1000px;

/* =============  GLOBAL STYLES =========== */

body {
  margin: 0px;
  padding: 0px;
  font-family: HN;
  font-size: $font;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

td {
  padding: 0;
}

button {
  display: inline-block;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 12px;
  text-align: center;
  @include linear-gradient(#fafafa, #eee);
  cursor: pointer;
  &:hover {
    @include linear-gradient(#fafafa, #fafafa);
  }
}

.wrapper {
  //width: 100%;
  min-width: $min_width;
}

/* ================== HEADER =============== */

// IF YOU CHANGE HEADER HEIGHT, CHANGE CORRESPONDING NUMBER
// IN #content HEIGHT!!
$header_height: 50px;
$side_padding: 15px;
.header {
  height: $header_height;
  background: white;
  @include box-shadow(0 0 3px rgba(0,0,0,0.33));
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}
.header-container {
  width: 100%;
  min-width: $min_width;
}

.link {
  a {
    display: block;
    line-height: $header_height;
    color: #777;
    @include transition(color 0.2s);
  }
}

#logo {
  a {
    color: $blue;
    font-family: HNLight;
    font-size: 20px;
    line-height: $header_height;
    text-decoration: none;
  }
}

.link, #logo {
  float: left;
  padding: 0px $side_padding;
  border-right: 1px solid #dadada;
  @include transition(0.1s);
  &:hover {
    a {
      text-decoration: none;
    }
    @include linear-gradient(#F5F5F5, #fff);
  }
}

#menu {
  float: right;
  line-height: $header_height;
  padding-right: $side_padding;
}

/* ========== CALENDAR / FEED LAYOUT ========= */

// #content is the Backbone anchor onto the document
#content {
  position: absolute;
  width: 100%;
  min-width: $min_width;
  min-height: 500px;
  top: $header_height;
  height: -webkit-calc(100% - 50px);
  height: -o-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: calc(100% - 50px);
}

$sidebar_width: 180px;
$feed_width: 250px;

.sidebar, .feed, .calendar {
  position: absolute;
  top: 0;
  height:100%;
  overflow-y: scroll;
  overflow-x: auto;
}

/* ============= ALL OTHER LAYOUT ============= */

$left_width: 300px;
.content-left, .main {
  position: absolute;
  top: 0;
  height: 100%; 
}
.content-left {
  left: 0;
  width: $left_width;
  border-right: 1px solid #ccc;
}

.left-list {
  list-style: none;
  margin: 0px;
  border-top: 1px solid #dadada;
}

.main {
  left: $left_width;
}

