/* ========== LAYOUT ========= */

$full-width: 1000px;
$left-width: 250px;
$main-width: 750px;

.organizations {
  width: $full-width;
  margin: auto;
  position: relative;
  margin-top: 10px;
}

.content-left {
  width: $left-width;
  position: absolute;
  top: 0px;
  left: 0px;
}

.organizations-main {
  width: $main-width;
  margin-left: $left-width;
}

ul.main-menu {
  margin: 0px;
  padding: 0px;
  width: $main-width;
  height: 60px;
  border-bottom: 1px solid #dadada;
  li {
    border: 0px;
    float: left;    
  }
  a {
    display: block;
    padding: 20px;
    background: #eee;
    &.selected {
      background: white;
      border-bottom: 1px solid white;
    }
  }
}

#organization-events {
  #event-form {
    display: none;
    &.open {
      display: block;
    }
  }
}