// Stylesheet for container panels

// Variables
$width: 960px;
$panel-width: 480px;
$panel-top-height: 80px;
$header-height: 50px;

.half-inline {
  width: $panel-width;
  display: inline-block;
  vertical-align: top;
  &.left {
    margin-right: (960 - 2 * $panel-width);
  }
}

.panel-top {
  height: $panel-top-height;
  border-bottom: 1px solid #dadada;
  position: fixed;
  width: $width;
  top: $header-height;
  h1 {
    line-height: $panel-top-height - 20px;
  }
}

.panel {
  position: fixed;
  top: $panel-top-height + $header-height;
  width: $panel-width;
  overflow-y: scroll;
}

.panel-left {
  @include box-shadow(2px 0px 5px -2px rgba(black, 0.2));
  @include calc(min-height, "100% - #{$header-height} - #{$panel-top-height}");
  height: auto;
}

.panel-right {
  margin-left: $panel-width;
  @include calc(height, "100% - #{$header-height} - #{$panel-top-height}");
}

// .panel-left, .panel-right {
//   @extend .half-inline;
//   height: 600px;
//   @include calc(height, "100% - 105px");
// }

.content-calendar-nav-panel {
  width: 100%;
  border: 1pt solid black;
}
