<tr class='organization-event'>
  <td>
    <div class="image loading"></div>
  </td>
  <td>
    <div class="name"><%= event.name %></div>
    <div class="time"><%= startTime %></div>
    <div class="location"><%= event.location %></div>
  </td>
  <td>
    <button>Edit</button>
  </td>
</tr>