<div class="cal-day-inner">
  <div class="cal-events"></div>
  <div class="day-tag">
    <p class='tag-day'><%= date.format("dddd") %>, <%= date.format("MMM") %>.</p>
    <p class='tag-date'><%= date.format("D") %></p>
  </div>
  <% for(i=0; i<24;i++) { %>
    <div class="hour hour-day">
      <% if(date.day() == 0){ %>
        <% if(i%4 === 0) { %>
          <% time = "a.m."; if(i >= 12) time = "p.m."; %>
          <% hour = i%12; if(hour === 0) hour = 12; %>
          <div class="hour-label"><%= hour+" "+time %></div>
        <% } %>
      <% } %>
    </div>
  <% } %>
</div>