<p>
  <% if(continued) { %>
    <i class='icon-arrow-left'></i> &nbsp;
  <% } %>
  <b><%= e.get("name") %></b>&nbsp; 
  <%= moment(e.get('start_at')).format("M/D") %> - <%= moment(e.get('end_at')).format("M/D") %> 
  <% if(continues) { %>
    <i class='icon-arrow-right'></i>
  <% } %>
</p>
