<div class="cover"></div>
<div class="content">
  <div class="name"><a href="#organizations/<%= result.id %>"><%= result.get('name') %></a></div>
  <div id="categories"></div>
  <% if(result.get('bio')) { %>
    <div class="description"><%= result.get('bio') %></div>
  <% } %>
</div>