<div class="cover"></div>
<div class="content">
  <div class="type">Organization:</div>
  <div class="name"><%= result.get('name') %></div>
  <div class="description"><%= result.get('bio') %></div>
</div>