<div class="event-image" style="background-image: url('/assets/image.jpeg')" >
</div>
<div class="details">
  <div class="name"><%= event.get("name") %></div>
  <div class="organization"><%= event.get("organization") %></div>
  <div class="time"><span class="icon-time"></span><%= startTime %></div>
  <div class="location"><span class="icon-map-marker"></span><%= event.get("location") %></div>
</div>