<div class="content-calendar-nav content-calendar-nav-full-width">
  <div class="container"></div>
</div>
<div class="content-calendar content-calendar-full-width"></div>
<!-- <div class="content-body"> -->
</div>
