<div class="content-calendar"></div>
<div class="content-body">
  <div class="content-body-container">
    <div class="cal-nav">
      <a href="#calendar/today/week" class="btn">Today</a>
      <div class="btn-group" style="margin-right: 30px;">
        <a class="btn previous">&lt;</a>
        <span class="btn cal-header-date" style="font-size: 14px;"></span>
        <a class="btn next">&gt;</a>
      </div>
      <div class="btn-group pull-right">
        <a class="btn week">Week</a>
        <a class="btn month">Month</a>
      </div>
    </div>
    <div class="body-feed"></div>
  </div>
</div>
<div class="global-overlay"></div>
<div class="cal-popover"></div>
