<div class="content-calendar-nav">
  <div class="container"></div>
</div>
<div class="content-calendar"></div>
<div class="content-body">
  <div class="container">
    <div class="content-cal-nav"></div>
    <h2>Your events</h2>
    <div class="body-feed"></div>
  </div>
</div>
