<div class="container">
  <div class="panel-top">
    <div class="panel-intro"></div>
    <div class="content-calendar-nav"></div>
  </div>
  <div class="panel-left">
    <div class="main-event">
      
    </div>
    <div class="event-list">
      
    </div>
  </div>
  <div class="panel-right">
    <div class="content-calendar"></div>
  </div>
</div>

<div class="content-calendar-nav">
  <div class="container"></div>
</div>
<div class="content-calendar"></div>
<div class="content-body">
</div>
