<div class="container full-height">
  <div class="panel-top">
    <div class="panel-intro">
      <h1>Up next for you</h1>
    </div>
    <div class="panel-cal-nav">
      <div class="content-calendar-nav content-calendar-nav-panel"></div>
    </div>
  </div>
  <div class="panel panel-left half-inline left">
    <div class="main-event"></div>
    <div class="body-feed"></div>
  </div>
  <div class="panel panel-right half-inline">
    <div class="content-calendar content-calendar-panel"></div>
  </div>
</div>
