<div class="container">
  <div class="panel-top">
    <div class="panel-intro half-inline left">
      <h1>Up next for you</h1>
    </div><div class="panel-cal-nav half-inline"> 
    <!-- divs next to each other to solve the inline-block space problem -->
      <div class="content-calendar-nav content-calendar-nav-panel"></div>
    </div>
  </div>
  <div class="panel-left half-inline left">
    <div class="main-event">
    </div>
    <div class="body-feed">
      
    </div>
  </div><div class="panel-right half-inline">
    <div class="content-calendar content-calendar-panel"></div>
  </div>
</div>
